.main-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 30px 25px;
}

.main-card-top-row {
  display: flex;
}

.company-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 12px;
}

.company-buttons-row {
  margin-top: 16px;
  display: flex;
  column-gap: 10px;
}

.parent-button {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  position: relative;
  top: 0;
  transition: ease-in-out 0.2s top;
}

.parent-button:hover {
  top: -5px;
}

.apply-button {
  background-color: #1fc76a;
  color: #fff;
}

.share-button {
  color: #1fc76a;
  background-color: #fff;
  border: 2px solid #1fc76a;
}

.job-metadata-info {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-top: 0.5px solid rgb(58, 58, 58, 0.1);
  border-bottom: 0.5px solid rgb(58, 58, 58, 0.1);
  margin: 20px 0px;
  padding: 20px 0px;
}

.job-metdata-block {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  text-align: left;
}
.job-metadata-info-first-row {
  display: flex;
  column-gap: 200px;
}

.job-description {
  text-align: left;
}

.similar-jobs-button {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  color: #1fc76a;
  background-color: rgb(221, 247, 233);
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.2s ease-in-out all;
}

.similar-jobs-button:hover {
  top: -4px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
}
